.card{
	width: 150px;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5px;
	margin: 30px;
	border-radius: 5%;
	box-shadow: 0 0 10px black;
}


.contenedor{
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenedorimg{
	padding: 0;
	margin: 0;
}

.image{
	width: 100%;
}

.contenedortexto{
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
	color: white;
	margin: 2px;
	font-family: Lato, sans-serif;
	font-size: 11px;
}

.close{
	background-color: red;
	color: white;
	width: 1rem;
	height: 1rem;
	font-size: 10px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 4px;
}
